*{
    margin:0;
    padding:0;
    outline:0;
    bottom: 0;
    box-sizing: border-box;
}

footer{
    padding-top: 10px;
}

footer .footer-basic{
    background-color: #212121;
   
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    height: 30px;

}

footer .footer-basic h1{
    font-family: Consolas;
    font-size: 15px;
    color: white;
    padding-top: 7px;
    margin-bottom: -5px;

}

